.main_picture {
  position: relative;
  background-image: url(/img/main/mainbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(97vh - 66px);
}
.main_picture_content_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
